.slide-in-right-enter-active {
	transition: all .2s ease;
}
.slide-in-right-leave-active {
	transition: all .2s ease;
}
.slide-in-right-enter, .slide-in-right-leave-to{
	transform: translateX(50px);
	opacity: 0;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform, width;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}

.modal-transition-enter,
.modal-transition-leave-active {
	opacity: 0;
}

.modal-transition-enter-active,
.modal-transition-leave-active {
	transition: opacity .2s ease;
}

.modal-transition-enter .pyramid-modal--card,
.modal-transition-leave-active .pyramid-modal--card{
	margin-bottom: -100px;
}

.modal-transition-enter-active .pyramid-modal--card,
.modal-transition-leave-active .pyramid-modal--card{
	transition: margin-bottom .2s ease;
}