@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import '@assets/styles/_reset.scss';
@import '~@fortawesome/fontawesome-pro/css/all.css';

$white: #FFF;
$black: #000;
$raisinBlack: #272731;
$gunMetal: #32323F;
$blackCoral: #68687A;
$shadowColor: #202025;

$cerise: #F0035E;
$qocuelicot: #FE3A00;
$blue: #3C48FF;
$caribbeanGreen: #09CEA4;

$baseFont: 'Montserrat', sans-serif;

@import '@assets/styles/_grid.scss';
@import '@assets/styles/_base.scss';
@import '@assets/styles/_transitions.scss';